@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Sora:wght@100..800&display=swap');

h1{
    font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  margin-top: 2rem;
  color: rgb(185, 122, 4);
  text-align: center;
}

#input {
    max-width: 50vw;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-size: 1.5rem;

    input {
        flex: 1;
        border: 2px solid white;
        border-radius: 15px;
        padding: 5px 10px;
    }
    
    button {
        background-color: #00390a;
        border: 3px solid #03901d;
        border-radius: 15px;
        padding: 5px 10px;
        text-wrap: nowrap;
        &:active {
            background-color: #001b05;
        }
    }
}

#repoArea {
    margin: 2rem auto;
    margin-top: 5rem;
    width: 80vw;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 33% 33% 33%;
}
#noRepoMsg {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    margin-top: 5rem;
    color: orangered;
}