@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Delius:wght@100..800&display=swap');

:root {
    font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button {
  text-wrap: nowrap;
}